<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="WPFLocalizeExtension" version="3.3.1" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="1.5.1" targetFramework="net48" />
</packages>